/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/* font */
html{
    font-family: sans-serif;
}

/* utility */
body{
    width: 100%;
}

.w-100{
    width: 100%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.w-55{
    width: 55%;
    margin: 0 auto 0 auto;
}

.w-40{
    width: 40%;
}

.w-30{
    width: 30%;
}

.relative{
    position: relative;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.jc-spbt{
    justify-content: space-between
}

.ai-center{
    align-items: center;
}

.button{
   background-color: rgb(32, 101, 246); 
   color: white;
   padding: 5px 6px;
   border: none;
}

.wbutton{
    background-color: #fff;
    padding: 5px 6px;
    border: 1px solid black;
}

.jc-center{
    justify-content: center;
}

.fixed{
    position: fixed;
}

.marB15{
    margin-bottom: 15px;
}

.marB20{
    margin-bottom: 20px;
}

.marB25{
    margin-bottom: 25px;
}

.marB30{
    margin-bottom: 30px;
}

.marB40{
    margin-bottom: 40px;
}

.marB50{
    margin-bottom: 50px;
}

.marB70{
    margin-bottom: 70px;
}

.marB100{
    margin-bottom: 100px;
}

.marT15{
    margin-top: 15px;
}

.marT20{
    margin-top: 20px;
}

.marT30{
    margin-top: 30px;
}

.marT40{
    margin-top: 40px;
}

.marT50{
    margin-top: 50px;
}

.marT100{
    margin-top: 100px;
}

.marT130{
    margin-top: 130px;
}

.lineh50{
    line-height: 50px;
}

.marL30{
    margin-left: 30px;
}

img{
    width: 100%;
}

/* header */
header{ 
    width: 100%;
}

nav{
    padding: 1.3% 1%;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
    top: 0;
}

.ul-head > li{
    margin-left: 13px;
    margin-right: 13px;
}

/* main */
.bg-lb{
    background-color: rgb(185, 208, 229);
}

.containerjumbo{
    padding-top: 30px;
}

h1{
    font-size: 59px;
    margin-top: 120px;
}

.finalmente{
    top: 60px;
}

.fa-arrow-down{
    top: 85px;
    font-size: 40px;
}

.jumbo{
    top: 60px;
}

.container-head{
    width: 70%;
    margin: 0 auto 0 auto;
}

/* piani */
.piani{
    margin: 100px auto 0 auto;
}

/* radio button */
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

input[type="radio"] {
    appearance: none;
    background-color: rgb(253, 253, 253);
    color: rgb(171, 171, 171);
    width: 18px;
    height: 18px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50%;
    transform: translateY(3px);
}

input:checked {
    background-color: #ffffff;
    border: 4px solid rgb(79, 91, 255);
}

.centertext{
    text-align: center;
}

.target{
    border-bottom: 1px solid grey;
    padding: 10px;;
}

.card{
    border: 1px solid grey;
}

.card-body{
    padding: 20px 15px;
}

#hrplans{
    width: 25%;
}

.bteam{
    margin-top: 20px;
    margin-left: 15px;
}



/* contatto */

.contatto-text{
    padding: 30px;
}

/* partners */
.square{
    height: calc(100vw / 3);
    width: calc(100% / 3);
}

.squarelittle{
    width: 50%;
    height: 50%;
    position: relative;
}

.squarelittle img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.designit{
    background-color: rgb(172, 209, 160);
    border: 15px solid rgb(209, 233, 205)
}

.arizona{
    background-color: rgb(97, 8, 43);
}

.florida{
    background-color: rgb(0, 147, 206);
}

.topps{
    background-color: rgb(255, 29, 29);
}

.designitbig{
    background-color: rgb(245, 245, 245);
    padding: 20px;
}

.bicycle{
    background-color: rgb(213, 2, 32);
}   

.hearst{
    background-color: rgb(180, 208, 231)
}

.lonely{
    background-color: rgb(13, 36, 129);
}

.clear{
    background-color: rgb(255, 216, 51);
}

/* prova */
.provacontainer{
    padding: 100px 0;
}

#provagratuita h2{
    color: rgb(89, 20, 43);
    margin-left: 0;
}

#provagratuita button{
    border: none;
    width: 100%;
}

/* faq */
#faq .faqcontainer:hover .fa-chevron-down,
#faq .faqcontainer .fa-chevron-up,
#faq .faqcontainer p {
  display: none;
}

#faq .faqcontainer:hover .fa-chevron-up,
#faq .faqcontainer:hover p {
  display: block;
}

.faqcontainer p{
    margin-bottom: 30px;
}

.faqcontainer span{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 10px;
}

/* footer */
footer{
    background-color: black;
    padding-bottom: 40px;
}

#footertop{
    color: white;
    margin: auto;

}

.ulfoot > li > a{
    color: white;
    line-height: 30px;
    font-size: 10px;
}

#footerbottom{
    color: grey;
    margin-left: 20%;
    font-size: 10px;
}

#footerbottom hr{
    width: 10%;
}